body {
    font-family: Rubik;
    padding: 20px;

    * {
        vertical-align: middle;
    }
    div.logo {
        img {
            opacity: .5;
        }
        h1 {
            display: inline;
            font-weight: bold;
            color: white;
            margin-bottom: 0;
            vertical-align: middle;
            font-size: 22px;
            opacity: .5;
        }
        
        @media (max-width: 1000px) {
            text-align: center;
            margin-bottom: 1rem;            
        }
    }

    hr {
        border-color: #fff;
        opacity: .5;
    }
    #commandContainer {
        i.fas {
            margin: 10px;
        }
    }

    .toast {
        position: fixed;
        bottom: 50px;
        right: 50px;
    }
}
  
/* The slider itself */
input[type=range] {
    -webkit-appearance: slider-vertical; /* WebKit */
    appearance: slider-vertical;
    width: 10px; /* Full-width */
    height: 200px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    writing-mode: bt-lr; /* IE */
    margin: 20px 40px;
}

/* Mouse-over effects */
input[type=range]:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 50px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #fff; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

input[type=range]::-moz-range-thumb {
    width: 50px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #fff; /* Green background */
    cursor: pointer; /* Cursor on hover */
}